@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,700;1,900&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    /* background-color: #0e0e1c; */
    background: linear-gradient(to bottom right, #121e39, #3463ae);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */

.container {
    max-width: 1180px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    border-radius: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 18px;
    text-align: center;
}


/* Item Styles*/
.items {
    overflow-y: scroll;
    border: 2px dotted whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card design start */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    cursor: grab;
    box-shadow: 1px 2px 9px 0px;
    background-color: black;
    transition: background-color 0.3s ease;
}

.card.dragging {
    opacity: 0.5;
}

.card img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.user-details h5 {
    color: whitesmoke;
}

.user-details h3 {
    color: blueviolet;
}

/* card design end */


/* Success message styles */
.success-message {
    color: rgb(16, 180, 79);
    margin-bottom: 10px;
    font-size: large;
}

.action-and-reault {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Reset button start */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* reset button end */

/* webkit design start */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 20px;
    scroll-behavior: smooth;
}
/* webkit design end */